<div class="main_box">
  <div class="app_name title_text">
    todo app

  </div>
  <div class="wrapper">
    <div class="image">
      <img src="/images/580ba43fb503b157ed7998fd.png" alt="main_logo">
    </div>
    <form action="/" class="new_task_form" method="post">
      <label for="task_name">
        <input class="new_task_form_input" type="text" name="name" placeholder="add task name">
      </label>
      <label class="new_task_form_label" for="add_task">
        <input class="new_task_form_input" id="add_task" type="text" name="task" placeholder="what do u need 2 do">
      </label>
      <div class="wrapper">
        <a href="/tasks" class="go_to_btn move_left">click 2 c all tasks</a>
        <button class="new_task_form_btn" type="submit" name="add_btn">ADD TASK</button>
      </div>
    </form>

  </div>

</div>